/_MiAdSdk
/_socai
/MiAdAS/.idea
/MiAdJava/.idea/.name
/MiAdJava/.idea/compiler.xml
/MiAdJava/.idea/copyright/profiles_settings.xml
/MiAdJava/.idea/encodings.xml
/MiAdJava/.idea/gradle.xml
/MiAdJava/.idea/misc.xml
/MiAdJava/.idea/modules.xml
/MiAdJava/.idea/runConfigurations.xml
/MiAdBuildANE/temp
.idea
/MiAdTest/out/production/MiAdTest/Main.apk
/MiAdTest/out/production/MiAdTest/Main.swf
